.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  button{
    text-decoration: none;
    background: none;
    border: none;
  }
  
  .imagen-port{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  }
  
  .imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:hsla(191, 86%, 49%, 0.61);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hover-galeria img{
    width: 50px;
  }
  
  .hover-galeria p{
    color: #fff;
  }
  
  .hover-galeria a{
    color: #fff;
    text-decoration: none;
    text-align: justify;
    padding: 10px;
  }
  
  .imagen-port:hover .hover-galeria{
    transform:scale(1);
  }
  
  .class-card{
    border: solid 2px lightpink;
  }
  
  .card-img-top{
    width: 400!important;
    height: 250 !important;
  }
  
  .btn-rosa{
    background-color: lightpink;
    color: white;
    margin-top: 10px;
  }
  
  .btn-morado2{
    background-color: lightgreen;
    color: white;
    margin-top: 10px;
  }
  
  .btn-morado{
    background-color:var(--bs-purple);
    color: white;
    margin-top: 10px;
  }
  
  .contenido{
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 2px black;
  }
  .justificado{
    text-align: justify;
  }
  .centrado{
    padding: 20px;
  }
  
  .margen{
    margin-left: 2px;
  }